/UserApi\.vs\userApi\v17
/UserApi/UserApi.Api/bin
/UserApi/UserApi.Api/obj
/UserApi/UserApi.Applications/bin
/UserApi/UserApi.Applications/obj
/UserApi/UserApi.Domain/bin
/UserApi/UserApi.Domain/obj
/UserApi/UserApi.Infrastructure/bin
/UserApi/UserApi.Infrastructure/obj
