*.suo
/UserApi/UserApi.Api/bin/Debug/net6.0
/UserApi/UserApi.Api/obj
/UserApi/UserApi.Applications/bin/Debug/net6.0
/UserApi/UserApi.Applications/obj
/UserApi/UserApi.Domain/bin/Debug/net6.0
/UserApi/UserApi.Domain/obj
/UserApi/UserApi.Infrastructure/bin/Debug/net6.0
/UserApi/UserApi.Infrastructure/obj/Debug/net6.0
/UserApi/UserApi.Infrastructure/obj
