/UserApi\.vs\userApi\v17
/UserApi/UserApi.Api/bin
/UserApi/UserApi.Api/obj
/UserApi/UserApi.Applications/bin
/UserApi/UserApi.Applications/obj
/UserApi/UserApi.Domain/bin
/UserApi/UserApi.Domain/obj
/UserApi/UserApi.Infrastructure/bin
/UserApi/UserApi.Infrastructure/obj
/UserApi/.vs/UserApi/DesignTimeBuild
/UserApi/.vs/UserApi/v16
/.vs/apiUser2/v17
/UserApi/.vs/UserApi/config
/UserApi/.vs/UserApi/FileContentIndex
/UserApi/.vs/UserApi/v17/.suo
/.vs
/UserApi/.vs/UserApi/v17
/UserApi/Infrastructure.IoC/obj
